# Ignorar imágenes generadas
*.png

# Ignorar scripts auxiliares y de creación
crear_admin.py
crear_docentes_usuarios.py
generar_graficos_avanzados.py.py
grafico_ano.py
limpiar_malla.py
plan_estudio.py

# Ignorar variables de entorno
.env